@{
    ViewData["Title"] = "Home Page";
}

<body>
    <section class="home" id="home">

        <div class="content">
            <h3>Hạnh phúc là hương vị của tiệm bánh</h3>
            <a asp-controller="Product" asp-action="Index" class="btn">Đặt ngay</a>
        </div>
    </section>
    <section class="about" id="about">
        <h1 class="heading"> <span>Giới thiệu</span> về chúng tôi </h1>
        <div class="row">
            <div class="image">
                <img src="images/about-img.png" alt="">
            </div>
            <div class="content">
                <h3>Điều Gì Làm Cho Tiệm Bánh Của Chúng Tôi Trở Nên Đặc Biệt?</h3>
                <p>Cake Bakery được ra đời với thông điệp mang đam mê của chúng tôi gửi gắm đến bạn qua những chiếc bánh ngọt và thức uống ngon, giá rẻ, vệ sinh và chất lượng luôn được đặt lên hàng đầu. Sự ra đời của mỗi chiếc bánh đều được chọn lọc kỹ lưỡng tâm huyết của đội ngũ chúng tôi từ khâu nguyên liệu, chế biến để khi đến tay của các bạn, chúng đều trở thành sản phẩm hoàn hảo nhất</p>
                <p>Với không gian đẹp, yên tĩnh, Tiệm Bánh Xinh thích hợp là nơi để bạn có thể thư giãn sau những giờ học tập và làm việc mệt mỏi.</p>
                <a href="#" class="btn">Tìm hiểu thêm</a>
            </div>

        </div>

    </section>
    <section class="review" id="review">

        <h1 class="heading"> <span>Đánh giá</span> </h1>

        <div class="box-container">

            <div class="box">
                <img src="images/quote-img.png" alt="" class="quote">
                <p>Tiệm bánh này là nơi yêu thích của tôi! Bánh kem luôn tươi mới và ngon lành, và nhân viên rất thân thiện và nhiệt tình. Tôi đã mua bánh ở đây nhiều lần và chưa bao giờ thất vọng.</p>
                <img src="images/pic-2.png" class="user" alt="">
                <h3>Lan Anh N.. </h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="box">
                <img src="images/quote-img.png" alt="" class="quote">
                <p>Bánh kem tại đây thật sự là một tuyệt tác! Tôi đã thưởng thức nhiều loại bánh ở đây và tất cả đều ngon từng miếng. Đặc biệt, tôi rất ấn tượng với sự chuyên nghiệp và tận tâm của nhân viên.</p>
                <img src="images/pic-1.png" class="user" alt="">
                <h3>Anh Tuấn Đ.</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="box">
                <img src="images/quote-img.png" alt="" class="quote">
                <p>Bánh kem ở đây không chỉ ngon mà còn đẹp mắt! Tôi đã đặt bánh cho bữa tiệc sinh nhật của con trai và mọi người đều khen ngợi không ngớt về hương vị và thiết kế của bánh. Cảm ơn tiệm!</p>
                <img src="images/pic-3.png" class="user" alt="">
                <h3>Minh H.</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>

        </div>

    </section>

    <!-- review section ends -->
    <!-- blogs section starts  -->

    <section class="blogs" id="blogs">

        <h1 class="heading"> <span>Bài viết</span> </h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="images/blog-1.png" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">Khám phá Hương vị Thú vị của Bánh Cup</a>
                    <span>by admin / 14st july, 2022</span>
                    <p>Bạn đã bao giờ thưởng thức một chiếc bánh nhỏ xinh, đầy màu sắc và hương vị đa dạng chưa? Nếu chưa, thì bánh cup chắc chắn là một trải nghiệm tuyệt vời mà bạn không nên bỏ lỡ...</p>
                    <a href="#" class="btn">đọc thêm</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/blog-2.png" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">Xu hướng tặng bánh sinh nhật hiện nay</a>
                    <span>by admin / 20st may, 2021</span>
                    <p>Nếu trước đây bánh kem sinh nhật truyền thống là một phần không thể thiếu của mỗi bữa tiệc thì hiện nay, có rất nhiều mẫu bánh độc đáo để bạn có thể lựa chọn trong những dịp đặc biệt...</p>
                    <a href="#" class="btn">đọc thêm</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/blog-3.png" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">Bánh tình yêu Tiramisu là gì?</a>
                    <span>by admin / 14st december, 2021</span>
                    <p>gày nay nền ẩm thực ngày càng phát triển, nhiều loại bánh được sáng tạo ra nhằm đáp ứng nhu cầu ăn uống đa dạng của đông đảo người yêu...</p>
                    <a href="#" class="btn">đọc thêm</a>
                </div>
            </div>

        </div>
    </section>
    <section class="contact" id="contact">
        <h1 class="heading"> <span>Liên hệ</span> </h1>
        <h2 class="info">
            SDT:0123456789<br />
            Email:ngyenvana@gmail.com<br />
            Địa chỉ:HCM
        </h2>
    </section>
    <section class="footer">
        <div class="links">
            <a href="#home">Trang chủ</a>
            <a href="#about">chúng tôi</a>
            <a href="#review">đánh giá</a>
            <a href="./Product/Index">sản phẩm</a>
            <a href="#blogs">bài viết</a>
        </div>
    </section>
</body>