@model DACK.Models.Category
@{
    ViewData["Title"] = "Display";
}
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Tên</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Trở về</a>
</div>
