@model IEnumerable<DACK.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>  
        <h2>Tên loại</h2>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Display" asp-route-id="@item.Id">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
