<div class="container12">
    @model int
    <h1>Chúc mừng bạn đã đặt hàng thành công</h1>
    <p>Mã đơn hàng của bạn là @Model đã đặt thành công.</p>
    <a href="/" class="btn btn-info">Quay lại</a>
</div>
