/*trang chủ--------------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uchen', serif;
}

.all-content {
    background: #2e1700;
}
/* navbar */
#navbar {
    background-color: #573818;
    padding-left: 60px;
    font-weight: bold;
}

#logo {
    font-size: 23px;
    color: white;
}

    #logo img {
        margin-bottom: 15px;
    }

.navbar-nav {
    margin-left: 10px;
}

.nav-link {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}

    .nav-link:hover {
        background-color: rgba(161,109,14,1);
        color: white;
        border-radius: 5px;
    }

.icons {
    margin-left: 30px;
}

    .icons img {
        margin-left: 10px;
        transition: 0.5s ease;
        cursor: pointer;
    }

        .icons img:hover {
            transform: translateY(-5px);
        }

@media screen and (max-width:330px) {
    #logo {
        font-size: 15px;
    }
}
/* navbar end */
/* home section */
.home {
    width: 100%;
    height: 88.5vh;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/background2.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

    .home .img {
        flex: 1 1 400px;
    }

        .home .img img {
            width: 100%;
        }

    .home .content {
        flex: 1 1 400px;
        margin-left: 60px;
    }

.content h3 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.content h2 {
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.changecontent::after {
    content: ' ';
    color: rgba(161,109,14,1);
    animation: changetext 10s infinite linear;
    font-weight: bold;
}

@keyframes changetext {
    0% {
        content: "Birthday cake";
    }

    20% {
        content: "Chocolate cake";
    }

    50% {
        content: "Party cake";
    }

    60% {
        content: "Slice cake";
    }

    100% {
        content: "Cup cake";
    }
}

.content p {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.content .btn {
    width: 110px;
    height: 38px;
    background-color: #573818;
    color: white;
}

@media screen and (max-width:800px) {
    .content h3 {
        font-size: 50px;
    }
}

@media screen and (max-width:860px) {
    .home {
        height: 120vh;
    }
}

@media screen and (max-width:560px) {
    .home {
        height: 100vh;
    }
}

@media screen and (max-width:330px) {
    .content h2 {
        font-size: 30px;
    }

    .content h3 {
        font-size: 30px;
    }
}
/* home section end */

/* top cards */
#box {
    margin-top: 50px;
}

    #box .card {
        box-shadow: 0px 0px 5px black;
        margin-top: 10px;
        transition: 0.5s ease;
        cursor: pointer;
    }

        #box .card:hover {
            transform: translateY(-10px);
        }
/* top cards end */
/* banner */
.banner {
    width: 100%;
    height: 60vh;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./image/banner2.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px black;
    margin-top: 50px;
}

    .banner .img {
        flex: 1 1 400px;
    }

        .banner .img img {
            width: 100%;
        }

    .banner .content {
        flex: 1 1 400px;
        margin-left: 60px;
        margin-top: 60px;
    }

        .banner .content h3 {
            color: rgba(161,109,14,1);
            font-weight: bold;
        }

        .banner .content h2 {
            font-size: 50px;
            color: rgba(161,109,14,1);
            font-weight: bold;
            text-shadow: 1px 1px 1px black;
        }

        .banner .content p {
            color: rgba(161,109,14,1);
        }

#btnorder button {
    width: 150px;
    height: 32px;
    letter-spacing: 5px;
    background-color: rgba(161,109,14,1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .banner .content h3 {
        font-size: 50px;
    }
}

@media screen and (max-width:855px) {
    .banner {
        height: 100vh;
    }
}
/* banner end */
/* product cards */
#product-cards h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgba(161,109,14,1);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgba(161,109,14,1);
}

#product-cards .card {
    background-color: rgba(161,109,14,1);
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    cursor: pointer;
}

.overlay {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}

#product-cards .card:hover .overlay {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s ease;
}

.overlay i img {
    background-color: #2e1700;
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding: 7px;
    margin: -20%;
    margin-bottom: 5%;
    cursor: pointer;
}

.overlay .btn-secondary {
    background: transparent !important;
    border: none;
    box-shadow: none;
}

#product-cards h3 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.star .checked {
    color: yellow;
}

#product-cards p {
    color: #2e1700;
    font-weight: bold;
}

#product-cards h6 {
    font-size: 20px;
    color: #2e1700;
    font-weight: bold;
}

    #product-cards h6 span button {
        width: 100px;
        height: 26px;
        font-size: 15px;
        background: transparent;
        letter-spacing: 3px;
        border: 2px solid #573818;
        border-radius: 5px;
        float: right;
        font-weight: bold;
        transition: 0.5s ease;
        cursor: pointer;
    }

        #product-cards h6 span button:hover {
            background-color: #2e1700;
            color: white;
        }

/* product cards end */

/* gallary */
#gallary {
    margin-top: 50px;
}

    #gallary h1 {
        text-align: center;
        font-weight: bold;
        margin-top: 50px;
        color: rgba(161,109,14,1);
        text-shadow: 1px 1px 1px black;
        border-bottom: 2px solid rgba(161,109,14,1);
    }

    #gallary .card {
        box-shadow: 3px 3px 3px black;
        cursor: pointer;
    }

    #gallary .overlay {
        opacity: 0;
        width: 100%;
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    #gallary .card:hover .overlay {
        opacity: 5;
        margin-top: 20%;
        transition: 0.5s ease;
    }
/* gallary */

/* about */
#about {
    margin-top: 50px;
}

    #about h1 {
        text-align: center;
        font-weight: bold;
        margin-top: 50px;
        color: rgba(161,109,14,1);
        text-shadow: 1px 1px 1px black;
        border-bottom: 2px solid rgba(161,109,14,1);
    }

    #about .card {
        background-color: rgba(161,109,14,1);
        box-shadow: 0px 0px 5px black;
    }

    #about p {
        color: rgba(161,109,14,1);
        text-shadow: 1px 1px 1px black;
        font-weight: bold;
    }

#bt button {
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgba(161,109,14,1);
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #about p {
        font-size: 10px;
    }
}

@media screen and (max-width:760px) {
    #about p {
        font-size: 20px;
    }
}
/* about */

/* contact */
#contact {
    margin-top: 100px;
}

    #contact h1 {
        text-align: center;
        font-weight: bold;
        margin-top: 50px;
        color: rgba(161,109,14,1);
        text-shadow: 1px 1px 1px black;
        border-bottom: 2px solid rgba(161,109,14,1);
    }

    #contact input {
        background-color: rgba(161,109,14,1);
    }

        #contact input::placeholder {
            color: white;
        }

    #contact textarea {
        background-color: rgba(161,109,14,1);
    }

        #contact textarea::placeholder {
            color: white;
        }

#messagebtn {
    text-align: center;
}

    #messagebtn button {
        width: 200px;
        height: 30px;
        letter-spacing: 3px;
        font-weight: bold;
        background: transparent;
        border: 2px solid white;
        color: white;
        transition: 0.5s;
        cursor: pointer;
    }

        #messagebtn button:hover {
            background-color: rgba(161,109,14,1);
        }
/* contact */

/* footer */
#footer {
    width: 100%;
    background-color: #573818;
    box-shadow: 0px 0px 5px black;
    margin-top: 100px;
}

    #footer h1 {
        color: white;
        padding-top: 30px;
    }

    #footer p {
        color: white;
    }

.icons i {
    background-color: white;
    color: #573818;
    border-radius: 50px;
    padding: 6px;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}

    .icons i:hover {
        background-color: rgba(161,109,14,1);
        color: white;
    }

.copyright {
    color: white;
    margin-top: 20px;
}

.credite {
    color: white;
}
/* footer */
html {
    scroll-behavior: smooth;
}

.arrow {
    position: fixed;
    background-color: rgba(161,109,14,1);
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}
/*đăng nhập--------------------------------------------------------------------------------------------------------------------------------------*/
.container3 {
    background-color: #573818;
    min-width: 1230px;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

    .container3 .content {
        background-color: rgba( 255, 255, 255, 0.8 ); /* Màu trắng mờ với độ trong suốt 80% */
        border-radius: 10px;
        max-width: 600px; /* Độ rộng tối đa của phông nền */
        width: 100%; /* Chiều rộng 100% */
        min-height: 400px;
        display: flex;
    }

    .container3 .layout_right {
        width: 40%;
        height: 100%;
    }

    .container3 .layout-img {
        width: 231px;
        height: 400px;
    }

        .container3 .layout-img .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .container3 .layout-left {
        width: 60%;
        display: flex;
        flex-direction: column;
    }

        .container3 .layout-left h2 {
            display: flex;
            padding: 10px 0;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;
        }

        .container3 .layout-left .content_text {
            display: flex;
            margin-bottom: 10px;
        }

        .container3 .layout-left h3 {
            text-align: center;
            position: relative;
            margin: 0 30.5px 1px 0;
            display: inline-block;
            width: 242.5px;
            overflow-wrap: break-word;
            font-family: "Inter";
            font-weight: 400;
            font-size: 20px;
            color: #000000;
        }

        .container3 .layout-left .content_input {
            display: flex;
            flex-direction: column;
        }

            .container3 .layout-left .content_input .text {
                padding-left: 10px;
                border-radius: 10px;
                background: #d9d9d9;
                margin: 0px 0px 15px 15px;
                width: 320px;
                height: 35px;
            }

        .container3 .layout-left .login .btn {
            font-size: 20px;
            font-weight: 700;
            border-radius: 30px;
            background: rgba(73, 158, 21, 0.72);
            position: relative;
            margin: 0px 0px 5px 15px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 320px;
            box-sizing: border-box;
        }

        .container3 .layout-left .forpassword {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow-wrap: break-word;
            font-family: "Inter";
            font-weight: 400;
            padding: 0px 15px;
            font-size: 20px;
            color: #000000;
        }

        .container3 .layout-left .remeber {
            margin-right: -42px;
        }

        .container3 .layout-left .support {
            display: flex;
            flex-direction: column;
        }

        .container3 .layout-left .hr-container {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-wrap: break-word;
            font-family: "Inter";
            font-weight: 400;
            font-size: 16px;
            color: #000;
        }
/*đăng ký--------------------------------------------------------------------------------------------------------------------------*/
.container4 {
    background-color: #573818;
    min-width: 1230px;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
    .container4 #account {
        width: 80%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
.container4 .layout-left {
    width: 60%;
    display: flex;
    flex-direction: column;
}
    .container4 .details {
        text-align: center;
        position: relative;
        margin: 0 30.5px 1px 0;
        display: inline-block;
        width: 242.5px;
        overflow-wrap: break-word;
        font-family: "Inter";
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }
.container4 .input-box {
    align-items: center;
    display: flex;
    flex-direction: column;
}
        .container4 .content {
            background-color: rgba( 255, 255, 255, 0.8 ); /* Màu trắng mờ với độ trong suốt 80% */
            border-radius: 10px;
            max-width: 600px; /* Độ rộng tối đa của phông nền */
            width: 100%; /* Chiều rộng 100% */
            min-height: 400px;
            display: flex;
        }

.container4 .layout-img {
    width: 231px;
    height: 400px;
}

    .container4 .layout-img .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container4 .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }
.container4 .layout-left .button {
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    /*background: rgba(73, 158, 21, 0.72);*/
    position: relative;
    margin: 0px 0px 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 320px;
    box-sizing: border-box;
}


.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

    .user-details .input-box input:focus,
    .user-details .input-box input:valid {
        border-color: #9b59b6;
    }
.container10 {
    background-color: rgba(161, 109, 14, 1);
    /*min-width: 1230px;*/
    height: 100vh;
/*    justify-content: center;
    display: flex;
    align-items: center;*/
}
.container11 {
    background-color: rgba(161, 109, 14, 1);
    height: 100vh;
}
.container12 {
    background-color: rgba(161, 109, 14, 1);
    height: 100vh;
}
/*sản phẩm-------------------------------------------------------------------------------------------------------------------------*/
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}



    .menu .box-container .box {
        padding: 1rem;
        /*  text-align: center;*/
        border: var(--border);
    }

        .menu .box-container .box img {
            width: 100%;
            height: 22rem;
            object-fit: cover;
        }


        .menu .box-container .box h3 {
            color: #fff;
            text-align: center;
            font-size: 2.5rem;
            padding: 1rem 0;
        }



        .menu .box-container .box h4 {
            color: #fff;
            font-size: 2.5rem;
            padding: 1rem 0;
        }

        .menu .box-container .box .price {
            color: #fff;
            font-size: 1.5rem;
            padding: .5rem 0;
        }

            .menu .box-container .box .price span {
                font-size: 1.5rem;
                text-decoration: line-through;
                font-weight: lighter;
            }
.btn.addtocart {
    margin-left: 10rem;
    text-align: center;
}

.menu .box-container .box:hover {
    background: #fff;
}

    .menu .box-container .box:hover > * {
        color: var(--black);
    }

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

    .products .box-container .box {
        text-align: center;
        border: var(--border);
        padding: 2rem;
    }

        .products .box-container .box .icons a {
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            border: var(--border);
            color: #fff;
            margin: .3rem;
        }

            .products .box-container .box .icons a:hover {
                background: var(--main-color);
            }

        .products .box-container .box .image {
            padding: 2.5rem 0;
        }

            .products .box-container .box .image img {
                height: 22rem;
            }

products .box-container .box .content h3 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.products .box-container .box .content .stars {
    padding: 1.5rem;
}

    .products .box-container .box .content .stars i {
        font-size: 1.7rem;
        color: var(--main-color);
    }

.products .box-container .box .content .price {
    color: #fff;
    font-size: 2.5rem;
}

    .products .box-container .box .content .price span {
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem;
    }
